<div id="calculator">
    <div id="display" data-testid="display">0</div>
    <div id="button-container">
        <button class="btns button-percent" data-testid="button-percent">%</button>
        <button class="btns button" value="7" data-testid="button-7">7</button>
        <button class = "btns button" value="8" data-testid="button-8">8</button>
        <button class = "btns button" value="9" data-testid="button-9">9</button>
        <button class = "btns button-operator" value="/" data-testid="button-operator">÷</button>
        <button class = "btns button-sqrt" value="√" data-testid="button-sqrt">√</button>
        <button class = "btns button" value="4" data-testid="button-4">4</button>
        <button class = "btns button" value="5" data-testid="button-5">5</button>
        <button class = "btns button" value="6" data-testid="button-6">6</button>
        <button class = "btns button-operator" value="*" data-testid="button-operator">x</button>
        <button class = "btns button-clear-entry" data-testid="button-clear-entry">CE</button>
        <button class = "btns button" value="1" data-testid="button-1">1</button>
        <button class = "btns button" value="2" data-testid="button-2">2</button>
        <button class = "btns button" value="3" data-testid="button-3">3</button>
        <button class = "btns button-operator" value="-" data-testid="button-operator">-</button>
        <button class = "btns button-clear" data-testid="button-clear">C</button>
        <button class = "btns button" value="0" data-testid="button-0">0</button>
        <button class = "btns button-dot" value="." data-testid="button-dot">.</button>
        <button class = "btns button-plus-minus" data-testid="button-plus-minus">±</button>
        <button class = "btns button-operator" value="+" data-testid="button-operator">+</button>
        <button class = "btns button-equal" data-testid="button-equal">=</button>
    </div>   
</div>