<div id="calculator">
    <div id="display">0</div>
    <div id="button-container">
        <button class="button-percent">%</button>
        <button class="button" value="7">7</button>
        <button class="button" value="8">8</button>
        <button class="button" value="9">9</button>
        <button class="button-operator" value="/">÷</button>
        <button class="button-sqrt" value="√">√</button>
        <button class="button" value="4">4</button>
        <button class="button" value="5">5</button>
        <button class="button" value="6">6</button>
        <button class="button-operator" value="*">x</button>
        <button class="button-clear-entry">CE</button>
        <button class="button" value="1">1</button>
        <button class="button" value="2">2</button>
        <button class="button" value="3">3</button>
        <button class="button-operator" value="-">-</button>
        <button class="button-clear">c</button>
        <button class="button" value="0">0</button>
        <button class="button-dot" value=".">.</button>
        <button class="button-plus-minus">±</button>
        <button class="button-operator" value="+">+</button>
        <button class="button-equal">=</button>
    </div>   
</div>